.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid grey;

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;

    &__item {
      list-style: none;
    }
  }
}
