:host {
  position: relative;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: x-large;
  cursor: pointer;
}

.film-card__link {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 630px;
  color: #64748b;
  border: 1px solid grey;
  border-radius: 3px;
  text-decoration: none;
  transition: border-color 0.3s;
  border: 1px solid transparent;

  &:hover {
    border-color: #3b82f6;
  }

  *:not(.film-card__poster) {
    margin: 0 20px 10px;
  }

  :first-child {
    margin-bottom: 20px;
  }

  .film-card__title {
    font-size: 1rem;
    font-weight: 600;
    color: #1e293b;
  }
}
