:host {
  background: #dbeafe;
  color: #1e40af;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .footer__copyright {
    color: #1e3a8a;
  }

  .footer__github-link {
    color: #1e40af;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}
