.catalog__wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.search {
  margin-bottom: 30px;

  &__input {
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;

    &:focus {
      border-color: #3b82f6;
    }

    &::placeholder {
      color: #94a3b8;
    }
  }
}
