.breadcrumbs {
  display: inline-block;
  margin: 20px 0;
  color: #3b82f6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs__current-page {
  color: #64748b;
}
